* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

:root {
    --main-teal: #5b7ca7;
    --main-gold: #db9941;
    --main-tan: #dbc197;
    --main-purple: #985a71;
    --main-green: #8dae87;
}

.bold {
    font-weight: 900;
}

#container {
    display: grid;
    grid-template: 1fr 15fr 1fr / 1fr;
    width: 100%;
    height: 100vh;
}

#header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--main-teal);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .25);
}

.button {
    flex: 1;
    max-width: 100px;
    height: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25) ;
    background-color: var(--main-gold);
    transition: .2s;
}

.button:hover {
    background-color: #e6a146;
    transform: scale(1.02);
}

#content {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--main-green);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#holishkes {
    height: 300px;
    max-width: 100%;
}

.card {
    flex: 1;
    width: 50vw;
    min-width: 200px;
    max-width: 430px;
    background-color: var(--main-purple);
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#homeContainer {
    display: grid;
    grid-template: 1fr 4fr / 1fr;
}

#restaurantName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script';
    font-size: 40px;
    font-weight: bold;
}

#restaurantInfo {
    display: flex;
    justify-content: center;
    padding: 45px 26px 26px 26px;
    font-size: 24px;
    line-height: 2;
}

#menuContainer {
    display: grid;
    grid-template: repeat(13, 1fr)/ 5fr 1fr;
    padding-left: 24px;
}

#menuTitle {
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script';
    font-size: 40px;
}

.menuText {
    font-size: 20px;
}

#contactContent {
    display: grid;
    grid-template: 1fr 4fr / 1fr;
}

#contactTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script';
    font-size: 40px;
}

#contactDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    padding-left: 24px;
    padding-top: 40px;
}

#footer { 
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-size: 12px;
    background-color: var(--main-teal);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}